.container-grid {
  height: 100%;
  padding: 15px;
  .navbar {
    display: block;
  }
  .row-grid {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-gap: 20px;

    .btn-primary:hover {
      cursor: pointer;
    }

    .btnOne {
      margin-bottom: 10px;
    }

    .fas {
      padding-right: 5px;
    }
  }
  .error-message {
    color: rgb(243, 117, 117);
  }
}
